# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.project
.classpath
.settings/
.factorypath

# Node / JS
node_modules/
dist/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
postgres_data/
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
